
<h1 class="edit1">Editing Transition Information</h1>

<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @transition, :class => "btn_submit" %> |
<%= link_to 'Back', transitions_path,:class => "btn_submit"  %>
</div>