<script type="text/css">
  .des{
  text-align: center;
font-size: 22px;
font-family: sans-serif;
color: rgba(9, 7, 7, 0.32);
font-style: normal;
  }

</script>
<table>
<tr>
  <td>

<h1 class="des">BANNER SETTINGS</h1>
<br/>
    <h1 class="des">Height/Width Settings</h1>
  </td>
</tr>

</table>