<h1 class="edit1">Editing Slide Settings</h1>

<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @tbl_slide_setting , :class => "btn_submit" %>|
<%= link_to 'Back', tbl_slide_settings_path , :class => "btn_submit" %>
</div>