<h1 class="new1">New Slide Setting</h1>

<%= render 'form' %>
<div class="new2" style="position: absolute;
        bottom: -62%;
        right: 35%;">
<%= link_to 'Back', tbl_slide_settings_path, :class => "btn_submit" %>
</div>
